

@media screen and (max-width:435px){
    .policy_name, .other_policies, .policies_file, .policy{
        font-size: 12px !important;
    }


}

.policies_heading{
    position: relative;
    display: flex;
    font-size: 50px;
    font-weight: 900;
    color: #4b6689;
    margin-top: 140px;
    padding: 20px;
    justify-content: center;
}

.policies_parent_container{
    position: relative;
    width: 100%;
    margin-top: 150px;
}


.UPSIDA_policies_container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    margin-bottom:140px;
    justify-content: space-between;
}

.policies_left_container{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(70, 193, 241);
    /* border-radius:5px; */
}

.policies_right_container{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.policies_files_tab{
    display: flex;
    flex-direction: row;
    background-color: rgb(193, 237, 255);
}

.policies_file{
    padding: 10px;
    background: skyblue;
    border-right: 1px solid grey;
}

.policies_files_tab .policies_file:first-child{
     background-color:rgb(70 193 241);
}
    
    

.policies_file:hover{
    cursor: pointer;
    background-color:rgb(70 193 241);
}

.policies_options{
    background: rgb(193, 237, 255);
    width: 92%;
    padding: 17px 3px;
    border: none;
    /* border-radius:5px; */
    font-size:15px;
}

.policies_options:hover{
    cursor: pointer;
    background-color: rgb(230 246 252);
}

.policies_options:focus{
    border: none;
    outline: none
}

#policies_files_tab_1{
    display: none;
}

.active_tab{
    background-color: rgb(230 246 252) !important;
}

iframe{
    width: 100%;
}

.policy_heading{
    display: none;
    background-color: rgb(158 218 216);
}

.policies_menu{
    display: none;
}

@media screen and (max-width: 800px){
    .policies_left_container{
        display: none;
    }

    .policies_right_container{
        width: 100%;
    }

    .policy_heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .other_policies{
        background:rgb(23, 255, 216);
        padding: 10px;
    }

    .policy_name{
        padding: 10px;
    }

    .policies_menu{
        display: none;
        flex-direction: column;
    }

    .policy{
        display: block;
        width: 100%;
        padding: 10px;
        background:rgb(143, 255, 236);
        border-bottom: 1px solid grey;
    }

    .policies_file {
        padding: 5px;
        font-size: 15px;
    }
}
