.wrapper-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 3s infinite ;
    
}
.gear{
    display: flex;
    justify-content: center;
    width: 10%;
    height: 10%;
}




@keyframes pulse {
    10% {
      transform: scale(1.1);
    }
    20% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.01);
    }
    40% {
      transform: scale(0.99);
    }
    50% {
      transform: scale(1);
    }
  }
  
  svg {
    width: 20%;
  }
  
  @keyframes turn {
    10% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(2880deg);
    }
    90% {
      transform: rotate(2900deg);
    }
    100% {
      transform: rotate(2880deg);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fly {
    75% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  #piece-1,
  #piece-2,
  #piece-3,
  #piece-4 {
    animation: pulse 3s ease-out infinite;
  
    transform-origin: 47px 47px;
  }
  
  #piece-2 {
    animation-delay: .1s;
  }
  
  #piece-3 {
    animation-delay: .2s;
  }
  
  #piece-4 {
    animation-delay: .3s;
  }
  
  #needle {
    animation: turn 5s ease-out forwards infinite;
  
    transform-origin: 47px 47px;
  }
  
  #gear {
    animation: rotate 5s linear infinite;
  
    transform-origin: 47px 47px;
  }
  
  #airplane-icon {
    animation: fly 3s ease-in-out infinite;
  
    transform-origin: 47px -300px;
  }
